/* CSS HEX */
/* --chocolate-web: #D86301ff;
--silver-chalice: #AEAEACff;
--ao-english: #1C8025ff;
--azure: #1882F2ff;
--firebrick: #B1121Dff;
--black: #000000ff; 
--bone: #DDDDCFff;*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DDDDCFff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
